/* You can add global styles to this file, and also import other style files */
button {
    font-family: "굴림";
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button.delete {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
  }


  table {
    margin-top:5px;
  }

  .list {
    width: 50%; 
    position:absolute; 
    left:50%; 
    margin-left:-47%
  }
  tr{
    border:2px;
    border-radius:5px;
    text-align: center;
    border:1px solid #dddddd;
    border-collapse:collapse
     
  }
  th{
    background-color:black;
    color:white;     
    width:5%;
    text-align: center;
    border:1px solid #dddddd;
    border-collapse:collapse
  }
  td{
    text-align: center;
    border:1px solid #dddddd;
    border-collapse:collapse
  }
 div{
  line-height:2em;
 }
