.node{
    position: fixed;
    border-radius: 30px;
    width: 60px;
    height: 60px;
}

.current{
    background-color: red;
}

.previous{
    background-color: yellow;
}

.unupdated{
    background-color: blue;
}